body {
  position: relative;
  font-family: 'Oswald', sans-serif;
}

.l-wrapper {
  position: relative;
  color: #fff;
}

.l-calculator {
  display: block;
  position: relative;
  width: 100vw;
  max-width: 450px;
  height: 100vh;
  max-height: 900px;
  border-bottom: 1px solid #000;
  margin-bottom: 1px;
  padding-bottom: 1px;
  background-color: #000;
}

.l-calculator > .inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 24px 0;
  background-color: #000;
}

.l-calculator > .inner > .output {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;
  min-height: 140px;
  max-height: 160px;
  margin-bottom: 24px;
  padding: 16px 24px;
  background-color: #2b2b2b;
}

@media screen and (max-width: 360px) {
  .l-calculator > .inner > .output {
    margin-bottom: 16px;
  }
}

.l-calculator > .inner > .output > .formula {
  display: none;
  font-size: 32px;
  line-height: 1;
  text-align: right;
}

.js_ready .l-calculator > .inner > .output > .formula {
  display: block;
}

@media screen and (max-width: 415px) {
  .l-calculator > .inner > .output > .formula {
    font-size: 30px;
  }
}

@media screen and (max-width: 360px) {
  .l-calculator > .inner > .output > .formula {
    font-size: 28px;
  }
}

.l-calculator > .inner > .output > .result {
  display: none;
  font-size: 64px;
  line-height: 1;
  text-align: right;
}

.js_ready .l-calculator > .inner > .output > .result {
  display: block;
}

@media screen and (max-width: 415px) {
  .l-calculator > .inner > .output > .result {
    font-size: 60px;
  }
}

@media screen and (max-width: 360px) {
  .l-calculator > .inner > .output > .result {
    font-size: 56px;
  }
}

.l-calculator > .inner > .input > .inner {
  margin: auto;
  max-width: calc(100vw - 32px);
}

.l-calculator > .inner > .input > .inner .line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 368px;
  margin: 0 auto 16px;
}

.l-calculator > .inner > .input > .inner .line:last-child {
  margin-bottom: 0;
}

.l-calculator > .inner > .input > .inner .line button {
  position: relative;
  width: 21.739%;
  margin-right: 4.34%;
  font-size: 40px;
  line-height: 1;
  text-align: center;
}

.l-calculator > .inner > .input > .inner .line button:hover > .inner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.l-calculator > .inner > .input > .inner .line button:hover.col2 > .inner:after {
  border-radius: 40px;
}

.l-calculator > .inner > .input > .inner .line button:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.l-calculator > .inner > .input > .inner .line button:last-child {
  margin-right: 0;
}

.l-calculator > .inner > .input > .inner .line button.col2 {
  width: 47.818%;
}

.l-calculator > .inner > .input > .inner .line button.col2:before {
  content: "";
  display: block;
  padding-top: 45.46196%;
}

.l-calculator > .inner > .input > .inner .line button.col2 > .inner {
  justify-content: space-between;
  padding-left: 24px;
  border-radius: 40px;
  text-align: left;
}

.l-calculator > .inner > .input > .inner .line button > .inner {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.l-calculator > .inner > .input > .inner .line button > .inner.text_division img {
  width: 24px;
  height: 24px;
}

.l-calculator > .inner > .input > .inner .line button.gray > .inner {
  background-color: #9c9c9c;
}

.l-calculator > .inner > .input > .inner .line button.black_none {
  pointer-events: none;
  cursor: none;
}

.l-calculator > .inner > .input > .inner .line button.black_none .inner {
  background-color: #000000;
}

.l-calculator > .inner > .input > .inner .line button.orange > .inner {
  background-color: #ff8200;
}

.l-calculator > .inner > .input > .inner .line button.darkGray > .inner {
  background-color: #2b2b2b;
}
